<h1>Flights</h1>
<h2>Add a destination</h2>
<hr />
<form action="/cities" method="post">
  <label for="new-city">Add a destination:</label>
  <input  name="new-city" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
